<h1>{{channel.name}}</h1>

<div class="channelchoose">
    <h2 class="ChannelHeader">Channel</h2>
    <form id="channelbase" action="/channel/general">
            <input id="channelbase" type="submit" value="general" />
    </form>
    <form id="channelbase" action="/channel/channel1">
        <input id="channelbase" type="submit" value="channel" />
    </form>
</div>

<div class="outputbox">
    {{# channel}}
    {{# messages}}
    <div class="message">
        <p id="author">{{author}}</p>
        <p id="text">{{text}}</p>
    </div>
    {{/messages}}
    {{/channel}}
</div>

<div class="messagebox">
    <form id="inputbase" method="post" action="/messages/new">
        <div class="inputname">
            <input name="author" id="iauthor" placeholder="Enter ur Name..">
        </div>
        <div class="inputmessage">
            <textarea type="text" name="text" id="itext" placeholder="Enter ur Text.."></textarea>
        </div>
        <button type="submit" class="send">Send</button>
    </form>
</div>

<div class="userlist">
    <h2>Users</h2>
    {{# channel}}
    {{# users}}
    <div>
        <p id="user">{{author}}</p>
    </div>
    {{/users}}
    {{/channel}}
</div>

</body>
</html>