<div style="margin-top: 100px">
    <div id="logInName">

        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form method="POST" action="/login">
            <div id="logInName">
                <label for="exampleInputName1" id="logInUsername">UserName</label>
                <input name="name" type="text" id="exampleInputName1" placeholder="Enter UserName">
            </div>
            <div id="logInPassword">
                <label for="exampleInputPassword1" id="logInEnterPassword">Password</label>
                <input name="password" type="password" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" id="logInBtn">Login</button>
        </form>
    </div>
</div>